---
import { getLangFromUrl, getSlugFromUrl } from '../i18n/utils';
import Layout from '../layouts/BaseLayout.astro';

const lang = getLangFromUrl(Astro.url);
const slug = 'contact';
---

<Layout title="Access" description="Access" slug={slug}>
  <main>
    <h1>Access</h1>
  </main>
</Layout>
