---
import { getLangFromUrl, getSlugFromUrl } from '../i18n/utils';
import Layout from '../layouts/BaseLayout.astro';

const lang = getLangFromUrl(Astro.url);
const slug = 'pricing';
---

<Layout title="Register" description="Register" slug={slug}>
  <main>
    <h1>Register</h1>
  </main>
</Layout>
